@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #CBD5E0;
}

::-webkit-scrollbar-thumb {
  background: #4A5568;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
} 